fastapi
uvicorn
gradio>=4.6.0
langchain
langchain-community
faiss-cpu
openai
langchain-cohere
cohere
pdfminer.six
openpyxl
python-docx
xlrd
beautifulsoup4
requests
psutil
unstructured
pytesseract
pdf2image
python-docx
openpyxl
xlrd
networkx
tiktoken
line-bot-sdk
